<!--プロフィールカラーの反映-->
<%= render "colors/style", profile: @profile %>

<div class="profile-page %>">
  <!--ヘッダー呼び出し-->
  <%= render "profiles/header", profile: @profile %>

  <!--タブメニュー-->
  <%= render "profiles/tab-menu", profile: @profile %>

  <!--自己紹介コメント一覧-->
  <%= render "comments/index", { profile: @profile, comment: @comment } %>
</div>
