<div class="form-group mb-3">
  <%= f.label :code, "プロフィールコード", class: "form-label" %>
  <span class="small required"><i class="fas fa-asterisk"></i></span>
  <%= f.text_field :code, class: "form-control" %>
  <div class="small text-muted">プロフィールページのURLの末尾に使用します。半角小文字英数字で、20文字まで入力できます。後から変更できません。</div>
</div>