<p class="mb-1">公開設定 <span class="small required"><i class="fas fa-asterisk"></i></span></p>
<div class="form-check form-check-inline mb-3">
  <%= f.radio_button :status, :"公開", class: "form-check-input" %>
  <%= f.label :status, "公開", value: :"公開", class: "form-check-label" %>
</div>
<div class="form-check form-check-inline mb-3">
  <%= f.radio_button :status, :"非公開", class: "form-check-input" %>
  <%= f.label :status, "非公開", value: :"非公開", class: "form-check-label" %>
</div>