<div class="management-page">

    <!--ヘッダー呼び出し-->
  <%= render "layouts/header" %>
  <h2>カラーテーマ</h2>
  <!--プロフィール作成・編集フォーム呼び出し-->
  <%= render "colors/form", profile: @profile %>
  <!--フッター呼び出し-->
  <%= render "layouts/footer" %>

</div>