<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h2 class="modal-title">投稿を修正</h2>
      <!--閉じるボタン-->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!--フォーム-->
    <%= form_with(model: [profile, post], url: post_path(profile.code, post.id), local: true) do |f| %>
      <div class="modal-body text-left">
        <div class="mb-3">
          <%= f.text_area :text, autofocus: true, autocomplete: "投稿内容", class: "form-control" %>
        </div>
      </div>

      <div class="modal-footer">
        <div class="actions">
          <%= f.submit "修正", class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
