/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

// Bootstrapの読み込み
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// リセットCSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'M PLUS 1p','Lato', "ヒラギノ角ゴ ProN", "メイリオ", sans-serif;
  color: #495057;
}

// 必須項目の米印
.required {
  color: #dc143c;
}

.management-page {
  min-height: 100vh;
  padding: 0 4rem;
  // フッターの押し下げ
  display: flex;
  flex-direction: column;
}

// フッター
.footer {
  width: 100%;
  height: 4rem;
  bottom: 0;
  background-color: #ccc;
}

// リンクホバー時(全般)
a:hover {
  text-decoration: none;
}

// topページ
.top {
  flex: 1;

  // top画像
  .top-image {
    width: 100%;
    margin: 2rem 0;

    h1{
    font-size: 4rem;
    font-family: 'Baloo Chettan 2', cursive;
    }
  }

  // nav
  .nav {
    li {
      margin-top: 1rem;
      span {
        font-family: 'Baloo Chettan 2', cursive;
      }
    }
  }
}

// 検索結果ページ
.search {
  // フッターの押し下げ
  flex: 1;

  // プロフィール画像
  .wrap {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    // はみ出した部分は隠す
    overflow: hidden;

    .card-img-top {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    // 拡大にかかる時間
    transition-duration: 0.3s;
    }

    // ホバー時
    .card-img-top:hover {
      // 拡大する
      transform: scale(1.5);
    }
  }
}

// サインイン・ログインページ
.sign-in, .log-in {
  // フッターの押し下げ
  flex: 1;
}

// マイページ
.mypage {
  // フッターの押し下げ
  flex: 1;

  // プロフィール画像
  .wrap {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    // はみ出した部分は隠す
    overflow: hidden;

    .card-img-top {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    // 拡大にかかる時間
    transition-duration: 0.3s;
    }

    // ホバー時
    .card-img-top:hover {
      // 拡大する
      transform: scale(1.5);
    }
  }

  // プロフィールホバー時
  a:hover {
    text-decoration: none;
  }

}

// プロフィール作成・編集ページ
.profile-form {
  // 画像投稿ボタン・元のボタンを隠す
  .item_image_btn {
    display: none;
  }

  // 画像プレビュー
  .wrap {
    width: 7rem;
      height: 7rem;
      border-radius: 50%;
      border: 1px solid #d3d3d3;

    .image-preview {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

// アイコン画像
.profile-icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #d3d3d3;
}

// プロフィールページ
.profile-page {
  min-height: 100vh;
  padding: 1rem 4rem 2rem;
}

// メニューバー
.menu-ber {
  height: 3rem;
  position: relative;
}

// メニューボタン
.menu-btn {
  padding: 0.2rem .5rem;
  text-decoration: none;
  transition: 0.4s;
}

// メニューボタン：ホバー
.menu:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

// メニューナビ一覧
.menu-nav {
  width: 0;
  padding: 1rem 0;
  margin-right: 4rem;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  right: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.5s;

  .nav-item {
    margin-left: 1.5rem;
  }

  h6 {
    margin-top: 0.5rem;
  }

  h6:first-child {
    margin-top: 0;
  }

}

  // メニューナビの表示
  .menu-nav.open-menu {
    width: 20rem;
}

// ヘッダー
.profile-header {
  padding-top: 1rem;

  // プロフィール部分
  .profile-box {
    margin: 0 1rem 1rem;

    // 左側
    .left {

      // アイコン外側
      .icon-wrap {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        // はみ出した部分は隠す
        overflow: hidden;

        // アイコン
        .icon {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          object-fit: cover;
          // 拡大にかかる時間
          transition-duration: 0.3s;
        }
        // アイコンホバー時
        .icon:hover {
          // 拡大する
          transform: scale(1.5);
        }
      }
    }

    // 右側
    .right {
      padding: 1rem;

      // 名前
      .name {
      font-size: 1.3rem;
      }
    }
  }
}

    // タブメニュー

.tabs-menu {
  display: flex;
  text-align: center;
}

.tab-item {
  margin-bottom: -1px;
}

.tab-item > .tab-link, .tabs-menu > .tab-item {
  flex: 1 1 auto;
  list-style: none;
}

.tab-link {
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
  display: block;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border: 1px solid transparent;
  border-bottom: 1px solid #000000;
}

.tab-link.active {
  border: 1px solid #000000;
  border-bottom: 1px solid transparent;
}

.tab-link.active:hover {
  border-bottom: 1px solid transparent;
}

.tab-link:hover {
  border: 1px solid #000000;
}


// ページネーション
.pagination {
  li {
    margin: 0 0.3rem;
    a {
      border: none;
      color: #696969;
    }
  }

  // 表示中のページ番号
  .active {
    a {
    background: #93c9ff;
    border-radius: 50%;
    }
  }

  // ホバー時
  li {
    a:hover {
    border-radius: 50%;
    }
  }
}

// ギャラリー
.image-list {
  column-count: 4;
  column-gap: 1rem;

  // 画像
  .wrap {
    position: relative;

    img {
      width: 100%;
      margin-top: 1rem;
    }
  }

  // タイトル
  .title {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
  }

  // 画像ホバー時
  .wrap:hover {

    img {
      filter: opacity(20%);
      transform: scale(1.05);
      transition-duration: 0.5s;
      position: relative;
      }

    .title {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
    }
  }
}

// ギャラリー一覧（編集・削除ページ）
.list-image {
  width: 5rem;
}

@media (max-width:768px) {
  body {
    font-size: 13px;
  }

  .profile-header .profile-box {

    .left .icon-wrap {
    width: 3rem;
    height: 3rem;

      .icon {
        width: 3rem;
        height: 3rem;
      }
    }

    .right {
      .nav-link {
        padding: 0.5rem 0.5rem;
      }

      .name {
        font-size: 1.2rem;
      }
    }
  }

    .image-list {
      column-count: 2;
    }
  }