/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

// Bootstrapの読み込み
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// リセットCSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'M PLUS 1p','Lato', "ヒラギノ角ゴ ProN", "メイリオ", sans-serif;
  color: #495057;
}

// 必須項目の米印
.required {
  color: #dc143c;
}

.management-page {
  min-height: 100vh;
  padding: 0 4rem;
  // フッターの押し下げ
  display: flex;
  flex-direction: column;
}

// フッター
.footer {
  width: 100%;
  height: 4rem;
  bottom: 0;
  background-color: #ccc;
}

// リンクホバー時(全般)
a:hover {
  text-decoration: none;
}

// topページ
.top {
  flex: 1;

  // top画像
  .top-image {
    width: 100%;
    height: 25rem;
    margin: 2rem 0;

    h1{
    font-size: 4rem;
    font-family: 'Baloo Chettan 2', cursive;
    }
  }

  // nav
  .nav {
    li {
      margin-top: 1rem;
      span {
        font-family: 'Baloo Chettan 2', cursive;
      }
    }
  }
}

// 検索結果ページ
.search {
  // フッターの押し下げ
  flex: 1;

  // プロフィール画像
  .wrap {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    // はみ出した部分は隠す
    overflow: hidden;

    .card-img-top {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    // 拡大にかかる時間
    transition-duration: 0.3s;
    }

    // ホバー時
    .card-img-top:hover {
      // 拡大する
      transform: scale(1.5);
    }
  }
}

// サインイン・ログインページ
.sign-in, .log-in {
  // フッターの押し下げ
  flex: 1;
}

// マイページ
.mypage {
  // フッターの押し下げ
  flex: 1;

  // プロフィール画像
  .wrap {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    // はみ出した部分は隠す
    overflow: hidden;

    .card-img-top {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    // 拡大にかかる時間
    transition-duration: 0.3s;
    }

    // ホバー時
    .card-img-top:hover {
      // 拡大する
      transform: scale(1.5);
    }
  }

  // プロフィールホバー時
  a:hover {
    text-decoration: none;
  }

}

// プロフィール作成・編集ページ
.profile-form {
  // 画像投稿ボタン・元のボタンを隠す
  .item_image_btn {
    display: none;
  }

  // 画像プレビュー
  .wrap {
    width: 7rem;
      height: 7rem;
      border-radius: 50%;
      border: 1px solid #d3d3d3;

    .image-preview {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

// アイコン画像
.profile-icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #d3d3d3;
}

// プロフィールページ
.profile-page {
  min-height: 100vh;
  padding: 1rem 4rem 2rem;
}

// ヘッダー
.profile-header {
  padding-top: 1rem;

  // プロフィール部分
  .profile-box {
    margin: 0 1rem 1rem;

    // 左側
    .left {

      // アイコン外側
      .icon-wrap {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        // はみ出した部分は隠す
        overflow: hidden;

        // アイコン
        .icon {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          object-fit: cover;
          // 拡大にかかる時間
          transition-duration: 0.3s;
        }
        // アイコンホバー時
        .icon:hover {
          // 拡大する
          transform: scale(1.5);
        }
      }
    }

    // 右側
    .right {
      padding: 1rem;

      // 名前
      .name {
      font-size: 1.3rem;
      }
    }
  }
}

// ページネーション
.pagination {
  li {
    margin: 0 0.3rem;
    a {
      border: none;
      color: #696969;
    }
  }

  // 表示中のページ番号
  .active {
    a {
    background: #93c9ff;
    border-radius: 50%;
    }
  }

  // ホバー時
  li {
    a:hover {
    border-radius: 50%;
    }
  }
}

// カラーテーマ設定

// 文字色：ブラック
.text_color_black {
  color: #495057;
}

// 文字色：ホワイト
.text_color_white {
  color: #fffafa;

   .table {
    color: #fffafa;
  }
}

// 文字色：セピア
.text_color_sepia {
  color: #622d18;

   .table {
    color: #622d18;
  }
}

// 背景色：ホワイト
.background_color_white {
  background-color: #fff;
}

// 背景色：ブラック
.background_color_black {
  --background: #23282F;
  --line: #808080;

  background-color: var(--background);

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-bottom-color: var(--background);
  }

  .nav-tabs {
    border-bottom: 1px solid var(--line);
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-top-color: var(--line);
    border-right-color: var(--line);
    border-left-color: var(--line);
  }

  .nav-link:hover {
    border-color: var(--line);
  }

  .card {
    border-color: var(--line);
  }

  .card-header {
    border-bottom: 1px solid var(--line);
  }

  .card-footer {
    border-top: 1px solid var(--line);
  }

}

// 背景色：グレー
.background_color_gray {
  --background: #dcdcdc;
  --line: #c0c0c0;

  background-color: var(--background);

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-bottom-color: var(--background);
  }

  .nav-tabs {
    border-bottom: 1px solid var(--line);
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-top-color: var(--line);
    border-right-color: var(--line);
    border-left-color: var(--line);
  }

  .nav-link:hover {
    border-color: var(--line);
  }

  .card {
    border-color: var(--line);
  }

  .card-header {
    border-bottom: 1px solid var(--line);
  }

  .card-footer {
    border-top: 1px solid var(--line);
  }

}

// 背景色：アイボリー
.background_color_ivory {
  --background: #fffff0;
  --line: #deb887;

  background-color: var(--background);

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-bottom-color: var(--background);
  }

  .nav-tabs {
    border-bottom: 1px solid var(--line);
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-top-color: var(--line);
    border-right-color: var(--line);
    border-left-color: var(--line);
  }

  .nav-link:hover {
    border-color: var(--line);
  }

  .card {
    border-color: var(--line);
  }

  .card-header {
    border-bottom: 1px solid var(--line);
  }

  .card-footer {
    border-top: 1px solid var(--line);
  }

}

// 背景色：ブラウン
.background_color_brown {
  --background: #b37e66;
  --line: #66483a;

  background-color: var(--background);

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-bottom-color: var(--background);
  }

  .nav-tabs {
    border-bottom: 1px solid var(--line);
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-top-color: var(--line);
    border-right-color: var(--line);
    border-left-color: var(--line);
  }

  .nav-link:hover {
    border-color: var(--line);
  }

  .card {
    border-color: var(--line);
  }

  .card-header {
    border-bottom: 1px solid var(--line);
  }

  .card-footer {
    border-top: 1px solid var(--line);
  }

}

// アクセントカラー：ライトグレー
.accent_color_lightgray {
  a {
    color: #a9a9a9;
  }
}

// アクセントカラー：ダークグレー
.accent_color_darkgray {
  a {
    color: #808080;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: rgba(0, 0, 0, 0.3);
  }

  .card-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .card-footer {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

// アクセントカラー：ブルー
.accent_color_blue {
  a {
    color: #007bff;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: rgba(0, 123, 225, 0.3);
  }

  .card-header {
    background-color: rgba(0, 123, 225, 0.3);
  }

  .card-footer {
    background-color: rgba(0, 123, 225, 0.3);
  }
}


// アクセントカラー：レッド
.accent_color_red {
  a {
    color: #dc143c;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: rgba(220, 20, 26, 0.3);
  }

  .card-header {
    background-color: rgba(220, 20, 26, 0.3);
  }

  .card-footer {
    background-color: rgba(220, 20, 26, 0.3);
  }
}

// アクセントカラー：ピンク
.accent_color_pink {
  a {
    color: #ffc0cb;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: rgba(255, 192, 203, 0.3);
  }

  .card-header {
    background-color: rgba(255, 192, 203, 0.3);
  }

  .card-footer {
    background-color: rgba(255, 192, 203, 0.3);
  }
}

// アクセントカラー：スカイブルー
.accent_color_skyblue {
  a {
    color: #87cefa;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: rgba(135, 206, 250, 0.3);
  }

  .card-header {
    background-color: rgba(135, 206, 250, 0.3);
  }

  .card-footer {
    background-color: rgba(135, 206, 250, 0.3);
  }
}

// アクセントカラー：ライトグリーン
.accent_color_lightgreen {
  a {
    color: #90ee90;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: rgba(144, 238, 144, 0.3);
  }

  .card-header {
    background-color: rgba(144, 238, 144, 0.3);
  }

  .card-footer {
    background-color: rgba(144, 238, 144, 0.3);
  }
}

// アクセントカラー：イエロー
.accent_color_yellow {
  a {
    color: #ffd700;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: rgba(255, 215, 0, 0.3);
  }

  .card-header {
    background-color: rgba(255, 215, 0, 0.3);
  }

  .card-footer {
    background-color: rgba(255, 215, 0, 0.3);
  }
}

// アクセントカラー：オレンジ
.accent_color_orange {
  a {
    color: #ff8c00;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: rgba(255, 140, 0, 0.3);
  }

  .card-header {
    background-color: rgba(255, 140, 0, 0.3);
  }

  .card-footer {
    background-color: rgba(255, 140, 0, 0.3);
  }
}