<div class="management-page">

  <!--ヘッダー呼び出し-->
  <%= render "layouts/header" %>

  <h2>画像を編集</h2>

  <%= form_with(model: [@profile, @image], url: image_path(@profile, @image), local: true) do |f| %>
    <!--フォーム呼び出し-->
    <%= render "images/form", f: f %>
  <% end %>

  <!--フッター呼び出し-->
  <%= render "layouts/footer" %>

</div>