<header class="header">
  <nav>
    <ul class="nav justify-content-end">

      <!--ログインしている場合-->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "マイページ", mypage_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <!--ログインしていない場合-->
      <% else %>
        <li class="nav-item">
          <%= link_to "ホーム", root_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>