<header class="header">
  <nav class="">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to "ホーム", root_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </nav>
</header>